@charset "UTF-8";
:root {
  --simple-text-size: 16px;
  --small-text-size: 14px;
  --medium-text-size: 18px;
  --big-text-size: 20px;
  --bigest-text-size: 24px;
  --mega-text-size: 36px;
}

@media (max-width: 650px) {
  :root {
    --simple-text-size: 16px;
    --small-text-size: 14px;
    --medium-text-size: 17px;
    --big-text-size: 18px;
    --bigest-text-size: 20px;
    --mega-text-size: 24px;
  }
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

* {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: var(--simple-text-size, 16px);
}

body {
  background-color: #F9F9F9;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.selected {
  border: 3px solid #7000FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  color: #0038FF;
  text-decoration: underline;
}
.link:hover {
  color: #7000FF;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 93%;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 93%;
  }
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}
@-webkit-keyframes wrong-rocking {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes wrong-rocking {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  25% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  50% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.logo {
  font-size: 32px;
  display: inline-block;
}
.logo__main-color {
  color: #7000FF;
  font-size: 32px;
}

.menu {
  margin: 0;
  padding: 0;
}
.menu__item:hover {
  color: #7000FF;
}
.menu__item > a:hover {
  color: #7000FF;
}
.menu__parent:hover {
  text-decoration: none;
}
.menu__parent:hover .menu__child {
  display: block;
}
.menu__parent-arrow::after {
  content: "";
  background-image: url("/source/svg/arrow-down.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  margin-left: 10px;
}
.menu__child {
  padding: 20px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding-right: 35px;
  padding-top: 40px;
  z-index: 50;
}
.menu__item-child {
  line-height: 26px;
}

.input {
  padding: 10px 14px;
  padding-right: 38px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  outline: none;
}
.input:hover {
  background-color: #F9F9F9;
}
.input--wrong {
  border: 2px solid #ff3c3c;
  -webkit-animation: wrong-rocking 0.5s ease-in-out;
          animation: wrong-rocking 0.5s ease-in-out;
}
.input--search {
  background-image: url(/source/svg/search.svg);
}
.input--file {
  display: none;
}
.input--label-for-file {
  display: block;
  background-color: #fff;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  padding: 10px 15px;
  color: #828282;
  background-image: url("/source/svg/upload-image.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}
.input--label-for-file:hover {
  background-color: #F9F9F9;
  color: #333333;
}

.open-menu-btn {
  height: 20px;
  width: 24px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.open-menu-btn__line {
  width: 24px;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.open-menu-btn__second-line {
  -webkit-transition: 0s;
  transition: 0s;
}
.open-menu-btn--not-active:hover .open-menu-btn__third-line {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.open-menu-btn--not-active:hover .open-menu-btn__first-line {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.open-menu-btn--active {
  width: 37px;
}
.open-menu-btn--active:hover .open-menu-btn__third-line {
  width: 26px;
}
.open-menu-btn--active:hover .open-menu-btn__first-line {
  width: 26px;
}
.open-menu-btn--active > .open-menu-btn__first-line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  bottom: 50%;
}
.open-menu-btn--active > .open-menu-btn__second-line {
  width: 0px;
}
.open-menu-btn--active > .open-menu-btn__third-line {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 50%;
}

@media (max-width: 930px) {
  .open-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.primary-btn {
  background-color: #7000FF;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 13px 21px;
  border-radius: 5px;
}
.primary-btn:hover {
  background-color: #8729ff;
}
.primary-btn--with-icon {
  padding-left: 56px;
  background-repeat: no-repeat;
  background-position: center left 15px;
}
.primary-btn--category {
  background-image: url("../source/svg/category.svg");
}
.primary-btn--grey {
  background-color: #CED4DA;
  color: #333333;
}
.primary-btn--grey:hover {
  background-color: #333333;
  color: #fff;
}
.primary-btn--transparent {
  background-color: transparent;
  color: #7000FF;
  border: 1px solid #7000FF;
}
.primary-btn--transparent:hover {
  color: #fff;
  background-color: #7000FF;
}

.header {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  z-index: 100;
  background-color: #ffffff;
}
.header__logo-link-mini {
  display: none;
  margin-right: 17px;
  margin-left: 4px;
}
.header__right-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
.header__menu {
  width: 100%;
  max-width: 571px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item {
  display: inline-block;
}
.header__menu-child--profile {
  right: -65px;
}
.header__menu-item-profile {
  position: relative;
}
.header__sign-in {
  font-weight: 500;
}
.header__sign-in > a:hover {
  color: #7000FF;
}
.header__messanger {
  position: relative;
}
.header__messanger:hover .header__messanger-svg-path {
  fill: #7000FF;
}
.header__messanger-svg-path--new-msg {
  fill: rgb(255, 105, 105);
}
.header__messanger-new-msgs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  left: 0;
  text-align: center;
}
.header__messanger-new-msgs-text {
  color: #fff;
}
.header__profile-img {
  width: 46px;
  height: 46px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.header__mobile-btn {
  margin-left: 20px;
}

@media (max-width: 1260px) {
  .header__menu-child--profile {
    right: -20px;
  }
}
@media (max-width: 1150px) {
  .header__right-panel {
    width: 730px;
  }
  .header__menu {
    max-width: 500px;
  }
  .header__search {
    width: 150px;
  }
  .header__logo {
    font-size: 24px;
  }
}
@media (max-width: 930px) {
  .header__right-panel {
    width: auto;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .header__logo-link {
    display: none;
  }
  .header__logo-link-mini {
    display: block;
  }
  .header__right-panel {
    width: 100%;
  }
  .header__search {
    width: 100%;
  }
}
.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 50;
}
.mobile-menu__container {
  margin-left: 3.7%;
}
.mobile-menu__link:hover {
  color: #7000FF;
}
.mobile-menu__menu {
  margin-top: 20px;
}
.mobile-menu__menu-item {
  line-height: 22px;
}
.mobile-menu__menu-label {
  font-weight: 500;
  line-height: 30px;
}
.mobile-menu__more-btns {
  margin-top: 24px;
}
.mobile-menu__more-btn {
  display: block;
  line-height: 24px;
}
.mobile-menu__more-link {
  color: #828282;
}
.mobile-menu__more-link:hover {
  text-decoration: underline;
}

.main {
  min-height: 70vh;
}
.main__section {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main__header {
  margin-bottom: 20px;
}
.main__head-line {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__head-first-line {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.main__head-second-line {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main__label {
  font-size: var(--bigest-text-size);
  font-weight: 400;
  margin-left: 30px;
}
.main__label--small-margin {
  margin-left: 15px;
}
.main__label--normal-margin {
  margin-left: 20px;
}
.main__label--big-margin {
  margin-left: 40px;
}

@media (max-width: 930px) {
  .main {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .main__label {
    margin: 0;
    font-weight: 500;
  }
}
.footer {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
}
.footer__first-line {
  padding-top: 40px;
}
.footer__second-line {
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21px;
}
.footer__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
  margin-left: 72px;
}
.footer__menu-main-item {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer__menu-item {
  line-height: 25px;
}
.footer__stat-item {
  color: #CED4DA;
  font-size: 10px;
}
.footer__more-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
}
.footer__more-item {
  text-decoration: underline;
}
.footer__more-link {
  color: #828282;
}
.footer__more-link:hover {
  color: #333333;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
.down-menu {
  position: fixed;
  bottom: 0;
  z-index: 300;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  display: none;
}
.down-menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8px;
  margin-bottom: 6px;
}
.down-menu__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 7px;
}
.down-menu__btn:hover .down-menu__svg-img {
  color: #333333;
}
.down-menu__btn:hover .down-menu__btn-label {
  color: #333333;
}
.down-menu__svg-img {
  width: 22px;
  height: 22px;
  color: #CED4DA;
}
.down-menu__btn-label {
  font-size: 12px;
  color: #828282;
}
.down-menu__profile-btn {
  row-gap: 4px;
}
.down-menu__profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 930px) {
  .down-menu {
    display: block;
  }
}
.pop-up-msg {
  width: 100%;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  display: none;
  -webkit-animation: pop-up-fly 0.2s ease-in-out;
          animation: pop-up-fly 0.2s ease-in-out;
}
.pop-up-msg__container {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pop-up-msg__warning-img {
  display: none;
  width: 30px;
  height: 30px;
}
.pop-up-msg__btn {
  padding: 10px 50px;
  display: none;
}

@media (max-width: 930px) {
  .pop-up-msg__container {
    margin-bottom: 50px;
    width: 80%;
  }
}
@-webkit-keyframes pop-up-fly {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes pop-up-fly {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes pop-up-fly-reverse {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}
@keyframes pop-up-fly-reverse {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}
.product {
  width: 250px;
}
.product:hover .product__change-photo-line::after {
  display: block;
}
.product__mobile-photo {
  display: none;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.product__photo-container {
  display: block;
  width: auto;
  cursor: pointer;
}
.product__change-photo-box {
  width: 250px;
  height: 200px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.product__change-photo-box > :nth-child(2) {
  z-index: 2;
}
.product__change-photo-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}
.product__change-photo-line:hover + .product__img {
  z-index: 3;
}
.product__change-photo-line:hover::after {
  background-color: rgba(255, 255, 255, 0.745);
}
.product__change-photo-line::after {
  content: "";
  display: none;
  height: 3px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.273);
  margin-bottom: 4px;
  border-radius: 5px;
  z-index: 7;
}
.product__img {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product__name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 37px;
  margin-top: 10px;
  cursor: pointer;
}
.product__name:hover {
  color: #7000FF;
}
.product__name:active {
  color: #7000FF;
}
.product__price {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 7px;
  font-weight: 500;
  font-size: var(--medium-text-size);
}
.product__price::after {
  content: " ₽";
}
.product__more-info {
  margin-top: 8px;
}
.product__human {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #828282;
  font-size: var(--small-text-size);
  cursor: pointer;
}
.product__human:hover {
  color: #333333;
}
.product__more-than {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__date {
  color: #828282;
  font-size: var(--small-text-size);
}
.product__room {
  color: #828282;
  font-size: var(--small-text-size);
}

@media (max-width: 576px) {
  .product {
    background-color: #fff;
    border-radius: 4px;
  }
  .product__info-container {
    padding: 0px 9px 10px 9px;
  }
  .product__mobile-photo {
    display: block;
  }
  .product__change-photo-box {
    display: none;
  }
  .product__more-than {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3px;
  }
}
@media (max-width: 375px) {
  .product__mobile-photo {
    height: 145px;
  }
}
.big-product-photo {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 405px;
}
.big-product-photo__photo {
  height: 405px;
}
.big-product-photo__btn {
  width: 100px;
  position: absolute;
  height: 405px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}
.big-product-photo__btn:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.big-product-photo__visible-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
}
.big-product-photo__prev-photo-btn {
  left: 0;
}
.big-product-photo__prev-photo-btn:hover {
  background-image: url("/source/svg/prev-arrow.svg");
  background-position-x: 40%;
}
.big-product-photo__next-photo-btn {
  right: 0;
}
.big-product-photo__next-photo-btn:hover {
  background-image: url("/source/svg/next-arrow.svg");
  background-position-x: 60%;
}
.big-product-photo__blur-photo {
  width: 130%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -110px;
  margin-top: -60px;
  -webkit-filter: blur(13px);
          filter: blur(13px);
  opacity: 0.8;
}

.about-person-menu {
  width: 100%;
}
.about-person-menu__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 18px;
  padding-bottom: 10px;
}
.about-person-menu__account-photo {
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #F9F9F9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about-person-menu__account-photo:hover {
  border: 3px solid #7000FF;
}
.about-person-menu__about-account {
  max-width: 273px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 7px;
}
.about-person-menu__name {
  font-size: var(--medium-text-size);
}
.about-person-menu__name:hover {
  color: #7000FF;
}
.about-person-menu__name-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.about-person-menu__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.about-person-menu__place {
  color: #828282;
}
.about-person-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.about-person-menu__contact {
  background-color: #F9F9F9;
  padding: 16px 23px;
  border-radius: 5px;
}
.about-person-menu__contact:hover {
  background-color: #CED4DA;
}
.about-person-menu__contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-person-menu__contact-img {
  background-repeat: no-repeat;
}
.about-person-menu__contact-img--vk {
  background-image: url("/source/svg/vk.svg");
  width: 30px;
  height: 30px;
}
.about-person-menu__contact-img--tel {
  background-image: url("/source/svg/tel.svg");
  width: 25px;
  height: 24px;
}
.about-person-menu__contact-img--msg {
  background-image: url("/source/svg/msg.svg");
  width: 29px;
  height: 24px;
}
@media (max-width: 576px) {
  .about-person-menu__account {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.product-page {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}
.product-page__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 26px;
}
.product-page__photo-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-page__photo-container {
  width: 60%;
  height: 405px;
}
.product-page__big-product-photo {
  border-radius: 5px;
}
.product-page__person-price {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 29px;
}
.product-page__product-naming {
  width: 100%;
  display: none;
}
.product-page__product-naming-box {
  margin-bottom: 0;
  margin-top: 10px;
}
.product-page__big-price-text {
  color: #7000FF;
  font-size: var(--mega-text-size);
  font-weight: 500;
}
.product-page__big-price-text::after {
  content: " ₽";
}
.product-page__price-prefix {
  font-size: var(--mega-text-size);
  font-weight: 500;
}
.product-page__price-from {
  margin-right: 10px;
}
.product-page__during-price {
  margin-left: 10px;
}
.product-page__during-price::before {
  content: "/ ";
}
.product-page__about-person-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}
.product-page__also-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 14px;
}
.product-page__also-photo {
  width: 100px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-page__also-photo:hover {
  outline: 3px solid #7000FF;
}
.product-page__also-photo--active {
  outline: 3px solid #7000FF;
}
.product-page__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 34px;
  margin-top: 34px;
}
.product-page__about-label {
  font-size: var(--big-text-size);
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.product-page__about-rent-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 15px;
  margin-top: 15px;
}
.product-page__about-texts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-page__about-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-page__about-type-text {
  color: #828282;
}
.product-page__about-type-text::after {
  content: ":";
}
.product-page__product-small-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
.product-page__small-info-text {
  color: #828282;
}
.product-page__similar-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  margin-top: 20px;
}

@media (max-width: 930px) {
  .product-page__photo-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 13px;
  }
  .product-page__photo-container {
    width: 100%;
  }
  .product-page__person-price {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 8px;
  }
  .product-page__product-naming {
    display: block;
  }
  .product-page__about-person-menu {
    margin-top: 14px;
  }
  .product-page__also-photos {
    display: none;
  }
}
@media (max-width: 576px) {
  .product-page {
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
  }
  .product-page__price-from {
    margin-right: 6px;
  }
  .product-page__during-price {
    margin-left: 6px;
  }
  .product-page__account {
    background-color: #fff;
  }
  .product-page__contact {
    background-color: #fff;
  }
  .product-page__photo-container {
    height: 300px;
  }
  .product-page__big-product-photo {
    display: none;
  }
  .product-page__product {
    width: 48%;
  }
}
.person-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.person-star__star {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.person-star__star-path {
  fill: #8ad731;
}
.person-star__star-path--normal {
  fill: #F1CB00;
}
.person-star__star-path--bad {
  fill: rgb(255, 64, 64);
}
.person-star__val {
  color: #F1CB00;
  font-size: var(--bigest-text-size);
  font-weight: 500;
  color: #8ad731;
}
.person-star__val--normal {
  color: #F1CB00;
}
.person-star__val--bad {
  color: rgb(255, 64, 64);
}

.full-product-photo {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.662745098);
}
.full-product-photo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.full-product-photo__svg-cross {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 20px;
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 0;
  z-index: 301;
}
.full-product-photo__svg-cross:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.full-product-photo__photo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full-product-photo__photo-back {
  z-index: 301;
  position: relative;
  height: 100%;
  background-color: #fff;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.full-product-photo__photo-box {
  height: 100%;
}
.full-product-photo__photo-btn {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}
.full-product-photo__photo-btn:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.full-product-photo__prev-photo-btn {
  left: 0;
}
.full-product-photo__prev-photo-btn:hover {
  background-image: url("/source/svg/prev-arrow.svg");
  background-position-x: 40%;
}
.full-product-photo__next-photo-btn {
  right: 0;
}
.full-product-photo__next-photo-btn:hover {
  background-image: url("/source/svg/next-arrow.svg");
  background-position-x: 60%;
}
.full-product-photo__img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.full-product-photo__mini-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-right: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 7px;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  width: 150px;
  z-index: 301;
}
.full-product-photo__mini-photo {
  width: 100px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.full-product-photo__mini-photo:hover {
  outline: 3px solid #7000FF;
}
.full-product-photo__background-closer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.photo-swiper {
  width: 100%;
  height: 300px;
  display: none !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  cursor: pointer;
}
.photo-swiper__slide {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.068);
}
.photo-swiper__img {
  max-height: 300px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 12;
}
.photo-swiper__pagination-container {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photo-swiper__pagination {
  max-width: 50px;
  background-color: rgba(232, 232, 232, 0.831372549);
  border-radius: 20px;
  padding: 4px 5px;
  color: #fff;
  position: relative;
  left: initial !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
}
.photo-swiper__pagination span {
  font-size: 12px;
}

@media (max-width: 576px) {
  .photo-swiper {
    display: block !important;
  }
}
.rent-price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.rent-price__header {
  background-color: #CED4DA;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.rent-price__footer {
  background-color: #F9F9F9;
  padding: 8px 30px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.rent-price__price {
  font-size: var(--bigest-text-size);
  font-weight: 500;
}
.rent-price__price:after {
  content: " ₽";
}
.rent-price__time {
  font-size: var(--medium-text-size);
}

.full-mobile-photo {
  display: none;
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 300;
  top: 0;
}
.full-mobile-photo__container {
  height: 100%;
}
.full-mobile-photo__header {
  height: 50px;
  background-color: #262626;
  position: relative;
}
.full-mobile-photo__back-btn {
  color: #fff;
  font-size: 18px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  height: 100%;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.full-mobile-photo__back-btn:hover {
  color: #d5d5d5;
}
.full-mobile-photo__photo-number-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full-mobile-photo__photo-number {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.full-mobile-photo__number-of-text {
  color: #fff;
}
.full-mobile-photo__max-photo-text::before {
  content: "/ ";
}
.full-mobile-photo__main {
  height: 95%;
}
.full-mobile-photo__photo-box {
  height: 100%;
}
.full-mobile-photo__swiper {
  height: 90%;
}
.full-mobile-photo__swiper-wrapper {
  height: 100%;
}
.full-mobile-photo__swiper-slide {
  height: 100%;
}
.full-mobile-photo__swiper-img {
  max-width: 100%;
  max-height: 100%;
}
.full-mobile-photo__pagination-con {
  display: none;
}

.down-menu__svg-img--search {
  color: #7000FF;
}
.down-menu__btn-label--search {
  color: #7000FF;
}

@media (max-width: 930px) {
  .main__header {
    display: none;
  }
}