.profile-photo-upload__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.profile-photo-upload__big-photo-img {
  width: 185px;
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.profile-photo-upload__small-photo-img {
  width: 46px;
  height: 46px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}