.checkbox {

  &__input {
    display: none;
    &:checked + .checkbox__label::before {
      background-color: $main-color;
      background-image: url("/source/svg/checkbox-tick.svg");
      border: 1px solid $main-color;
    }
  }

  &__label {
    cursor: pointer;
    user-select: none;

    display: flex;

    &:hover {
      &::before {
        background-color: $background-color;
      }
    }

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 5px;
    }
  }
}