.footer {
  background-color: #ffffff;

  @include simple-shadow;

  &__first-line {
    padding-top: 40px;
  }

  &__second-line {
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  &__menu {
    display: inline-flex;
    column-gap: 38px;
    margin-left: 72px;
  }

  &__menu-main-item {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__menu-item {
    line-height: 25px;
  }

  &__stat-item {
    color: $border-color;
    font-size: 10px;
  }

  &__more-buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 29px;
  }

  &__more-item {
    text-decoration: underline;
  }

  &__more-link {
    color: $grey-color;
    &:hover {
      color: $text-color;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}