
.input {
  padding: 10px 14px;
  padding-right: 38px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  outline: none;

  &:hover {
    background-color: $background-color;
  }

  &--wrong {
    border: 2px solid $wrong-color;
    animation: wrong-rocking 0.5s ease-in-out;
  }

  &--search {
    background-image: url(/source/svg/search.svg);
  }

  &--file {
    display: none;
  }

  &--label-for-file {
    display: block;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 10px 15px;
    color: $grey-color;
    background-image: url('/source/svg/upload-image.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    &:hover {
      background-color: $background-color;
      color: $text-color;
    }
  }
}

