.main {
  min-height: 100px;

  &__section {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__head-line {
    margin-bottom: 17px;
    display: flex;
  }

  &__head-first-line {
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  &__head-second-line {
    justify-content: flex-end;
  }

  &__label {
    font-size: var(--bigest-text-size);
    font-weight: 500;
  }
}

@media (max-width: 930px) {
  .main {
    margin-bottom: 80px;
  }
}