.menu {
  margin: 0;
  padding: 0;

  &__item {
    &:hover {
      color: $main-color;
    }

    & > a {
      &:hover {
        color: $main-color;
      }
    }
  }

  &__parent {
    &:hover {
      text-decoration: none;
      & .menu__child {
        display: block;
      }
    }
  }

  &__parent-text {
    &::after {
      content: '';
      background-image: url('../source/svg/arrow-down.svg');
      display: inline-block;
      background-repeat: no-repeat;
      width: 15px;
      height: 8px;
      margin-left: 10px;
    }

    &--opened {
      &::after {
        rotate: 180deg;
      }
    }
  }

  &__child {
    padding: 20px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    padding-right: 35px;
    padding-top: 40px;
  }

  &__item-child {
    line-height: 26px;
  }
}