.open-menu-btn {
  height: 20px;
  width: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  align-items: center;

  &__line {
    width: 24px;
    height: 2px;
    background-color: black;
    transition: 0.2s;
  }

  &__second-line {
    transition: 0s;
  }

  &--not-active {
    &:hover {
      & .open-menu-btn__third-line {
        transform: translateY(2px);
      }
      & .open-menu-btn__first-line {
        transform: translateY(-2px);
      }
    }
  }

  &--active {

    width: 37px;

    &:hover {
      & .open-menu-btn__third-line {
        width: 26px;
      }
      & .open-menu-btn__first-line {
        width: 26px;
      }
    }
    & > .open-menu-btn {
      &__first-line {
        transform: rotate(45deg);
        position: absolute;
        bottom: 50%;
      }
      &__second-line {
        width: 0px;
      }
      &__third-line {
        transform: rotate(-45deg);
        position: absolute;
        bottom: 50%;
      }
    }
  }
}

@media (max-width: 930px) {
  .open-menu-btn {
    display: flex;
  }
}