.person-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  user-select: none;

  &__star {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }

  &__star-path {
    fill: #8ad731;
    &--normal {
      fill: #F1CB00;
    }
    &--bad {
      fill: rgb(255, 64, 64);
    }
  }

  &__val {
    color: $good-star-color;
    font-size: var(--bigest-text-size);
    font-weight: 500;
    color: #8ad731;
    &--normal {
      color: #F1CB00;
    }
    &--bad {
      color: rgb(255, 64, 64);
    }
  }
}