.person-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  user-select: none;

  &__star {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }

  &__val {
    color: $good-star-color;
    font-size: var(--bigest-text-size);
    font-weight: 500;
  }
}