.pop-up-msg {
  width: 100%;
  
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  
  display: none;

  animation: pop-up-fly 0.2s ease-in-out;

  &__container {
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    @include strong-shadow;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
  }

  &__msg {

  }

  &__warning-img {
    display: none;
    width: 30px;
    height: 30px;
  }

  &__btn {
    padding: 10px 50px;
    display: none;
  }
}

@media (max-width: 930px) {
  .pop-up-msg {
    &__container {
      margin-bottom: 50px;
      width: 80%;
    }
  }
}

@keyframes pop-up-fly {
  0% {
    transform: translateX(-120%);
  }
  
  100% {
    transform: translateX(0%);
  }
}

@keyframes pop-up-fly-reverse {
  0% {
    transform: translateX(0%);
  }
  
  100% {
    transform: translateX(120%);
  }
}