.primary-btn {
  
  background-color: $main-color;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 13px 21px;
  border-radius: 5px;

  &:hover {
    background-color: lighten($main-color, 8%);
  }

  &--with-icon {
    padding-left: 56px;
    background-repeat: no-repeat;
    background-position: center left 15px;
  }

  &--category {
    background-image: url('../source/svg/category.svg');
  }

  &--grey {
    background-color: $border-color;
    color: $text-color;

    &:hover {
      background-color: $text-color;
      color: #fff;
    }
  }

  &--transparent {
    background-color: transparent;
    color: $main-color;
    border: 1px solid $main-color ;

    &:hover {
      color: #fff;
      background-color: $main-color;
    }
  }

  &--transparent-grey {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $border-color;

    &:hover {
      color: #fff;
      background-color: $text-color;
    }
  }
}