.profile {

  // header -------------------------------------------
  &__header {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  // main info
  &__main-info {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  &__main-img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 233px;
    max-width: 233px;
    min-height: 233px;
    min-width: 233px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__about-person {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__person-name {
    font-size: var(--big-text-size);
    font-weight: 500;
  }

  &__add-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__about-line {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;

    &--mobile-only {
      display: none;
    }

    &--not-mobile {
      display: block;
    }
  }

  &__about-field {

    &--mobile-only {
      display: none;
    }
  }

  &__field-label {
    color: $grey-color;
  }

  &__field-text {

  }

  &__additional-info {
    color: $grey-color;
  }

  // communication
  &__communication {
    width: 100%;
    max-width: 270px;
    min-width: 270px;
  }

  &__top-communication {
    background-color: transparent;
    padding: 0;
    
    align-items: center;
    justify-content: flex-end;
    
    margin-bottom: 20px;

  }

  &__reviews-amount {
    display: block;
    color: $grey-color;
    &::before {
      content: "Отзывов: ";
    }
  }

  // person ads --------------------------------------
  &__person-ads {
    margin-top: 40px;
  }

  &__ads-label {
    font-weight: 500;
    font-size: var(--big-text-size);
  }

  &__ads {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 17px;
  }
}

@media (max-width: 930px) {
  .profile {

    &__main-info {
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .profile {

    &__header {
      flex-direction: column;
    }

    &__main-info {
      flex-direction: row;
    }

    &__add-info {
      row-gap: 20px;
    }

    &__about-field, &__about-line {

      &--mobile-only {
        display: block;
      }
      &--not-mobile {
        display: none;
      }
    }

    &__communication {
      max-width: 100%;
    }

    &__top-communication {

      &--not-mobile {
        display: none;
      }

      &--mobile-only {
        display: flex;
        justify-content: flex-start;
        margin: 0;
      }
      
    }

    
  }
}

@media (max-width: 576px) {
  .profile {

    &__main-img {
      max-height: 159px;
      max-width: 159px;
      min-height: 159px;
      min-width: 159px;
    }

    &__contact-elem {
      background-color: #fff;
    }

    &__ads {
      gap: 10px;
    }

    &__product {
      width: 48%;
    }

    
  }
}

@media (max-width: 390px) {
  .profile {

    &__main-img {
      max-height: 60px;
      max-width: 60px;
      min-height: 60px;
      min-width: 60px;
    }
    
  }
}