@import '../../../sass/imports';

// Импорты именно для данной страницы
@import '../../../sass/blocks/product';
@import '../../../sass/blocks/about-person-menu';
@import '../../../sass/blocks/person-star';
@import '../../../sass/blocks/profile';

//Выделения для данной страницы

.person-profile {
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
  
  &__profile {

  }  
}

@media (max-width: 576px) {
  .person-profile {

    background-color: transparent;
    padding: 0;
  }
}